#order{
     align-content: center; 
    align-self: center; 
    position: relative;   

     
    padding-left: 70%; 

    
}

#order:hover span { display: none; }
#order:hover:after {
  content: "Click to display all doctors in alphabetical order";
}

#doctorcontainer{
    display: inline-block;
    
    
}

#imagecontainer{
	width: 80%;

}

#textcontainer{
	width: 20%;
}

#doctorimagesinglepage{
	padding-left: 20%;
	padding-right: 20%;
}

/*
#responsib:hover span { display: none; }
#responsib:hover:after {
  content: "Click to show the service this doctor is responsible for";
}
#serv:hover span { display: none; }
#serv:hover:after {
  content: "Click to show the service this doctor works in";
}
*/

#responsib, #serv{
     align-content: center; 
    align-self: center; 
    position: relative;   
    padding-left: 60%; 
  
}

a.overlay { width: 100%; height:100%; position: absolute; }